@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {
    --lightred: red;
    --darkred: rgb(36, 36, 129);
    --white: #ffffff;
    --lightwhite: #dfdfdf;
    --black: #010103;
}

.logito {
    background-position: right bottom;
    float: right;
}

body {
    background: linear-gradient(45deg, #9a9a9a, #808080);
    font-family: 'Mukta', sans-serif;
}

.left-p {
    font-size: 19px;
    background: var(--lightred);
    padding: 0px 0px;
    text-align: center;
}

.resume {
    width: 700px;
    background: var(--white);
    margin: 50px auto;
    position: relative;
}

.clearfix {
    clear: both;
}

.left {
    width: 200px;
    float: left;
    padding: 25px;
    color: var(--white);
    background: var(--darkred);
}

.name {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.p1 {
    color: var(--lightwhite);
    text-align: center;
    margin-top: -5px;
    font-size: 14px;
}

.right {
    width: 450px;
    float: left;
    text-align: center;
    overflow: hidden;
}

.profile {
    width: 93%;
    border-radius: 50%;
    border: 7px solid red;
}

.heading-1 {
    background: red;
    margin: 0px -25px;
    padding-left: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 200px;
}

.com-p {
    margin: 0px;
    color: var(--lightwhite);
}

.sect-one,
.sect-two,
.sect-three,
.sect-four,
.sect-five {
    position: relative;
    height: 195px;
}

.label-1 {
    background: #f87701;
    color: white;
    position: absolute;
    width: 41%;
    padding: 5px;
    transform: rotateZ(270deg);
    left: -81px;
    top: 67px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.label-2 {
    background: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.label-3 {
    background: #f50545;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.label-4 {
    background: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.label-5 {
    background: #05a3fa;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.content {
    width: 350px;
    float: left;
    height: 190px;
}

.icon {
    width: 100px;
    float: left;
    text-align: center;
    margin-top: 70px;
}

.circle {
    width: 60px;
    height: 50px;
    background: #000;
    position: absolute;
    bottom: -20px;
    z-index: 9;
    left: 0px;
    border-radius: 0px 36px 36px 0px;
    transform: rotateZ(-180deg);
}

.circle2 {
    width: 50px;
    height: 50px;
    background: #ffffff;
    position: absolute;
    top: -27px;
    z-index: 9;
    left: 0px;
    border-radius: 0px 36px 36px 0px;
    transform: rotateZ(182deg);
}

.p1 {
    position: center;
    font-weight: bold;
    font-size: 20px;
}

.p4 {
    padding-left: 70px;
    position: relative;
}

.timeline {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    left: 44px;
    border-radius: 10px;
    border: 3px solid red;
    top: 5px;
}

.timeline::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 3px;
    background: red;
    top: 11px;
    left: 3.5px;
}

.end::after {
    background: transparent;
}

.span2 {
    float: left;
    text-align: justify;
    width: 360px;
    height: 40px;
}

.p5 {
    padding-left: 70px;
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 380px;
}

.span-all {
    width: 137px;
    height: 20px;
    float: left;
    margin-top: 5px;
    position: relative;
    margin-left: 62px;
}

.p6 {
    vertical-align: text-top;
    line-height: 17px;
    text-align: left;
    padding-left: 97px;
}

.span3 {
    font-size: 12px;
    color: #001729;
}
}

}